<html>
<head>
	<link rel="stylesheet" href="../static/worksheets.css" type="text/css">
</head>
<body>
	<div class="filter" data-filter="all">Show All</div>
	<br><br>
	<div class="filter" data-filter=".subject-math">Math</div>
	<div class="filter" data-filter=".subject-science">Science</div>
	<div class="filter" data-filter=".subject-english">English</div>
	<br><br>
	<div class="filter" data-filter=".grade-1">Grade 1</div>
	<div class="filter" data-filter=".grade-2">Grade 2</div>
	<div class="filter" data-filter=".grade-3">Grade 3</div>
	<br><br>
	<div class="filter" data-filter=".subject-math.grade-1">Math for Grade 1</div>
	<br><br>
	<div class="sort" data-sort="default">Default</div>
	<div class="sort" data-sort="myorder:asc">Ascending</div>
	<div class="sort" data-sort="myorder:desc">Descending</div>
	<div class="sort" data-sort="random">Random</div>
	<br><br>
	<div id="Container">
		<div class="mix subject-math grade-1" data-myorder="1.1.1">[]math - grade 1 - topic[]</div>
		<div class="mix subject-science grade-1" data-myorder="2.1.1">[]science - grade 1 - topic[]</div>
		<div class="mix subject-english grade-1" data-myorder="3.1.1">[]english - grade 1 - topic[]</div>
		<div class="mix subject-math grade-2" data-myorder="1.2.1">[]math - grade 2 - topic[]</div>
		<div class="mix subject-science grade-2" data-myorder="2.2.1">[]science - grade 2 - topic[]</div>
		<div class="mix subject-english grade-2" data-myorder="3.2.1">[]english - grade 2 - topic[]</div>
		<div class="mix subject-math grade-3" data-myorder="1.3.1">[]math - grade 3 - topic[]</div>
		<div class="mix subject-science grade-3" data-myorder="2.3.1">[]science - grade 3 - topic[]</div>
		<div class="mix subject-english grade-3" data-myorder="3.3.1">[]english - grade 3 - topic[]</div>
	</div>

	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="../static/jquery.mixitup.min.js"></script>
	<script src="../static/worksheets.js"></script>
</body>
</html>