#Container .mix{
	display: none;
}

div.asset {
    margin: 5px;
    border: 1px solid #ccc;
    float: y-center;
    width: 180px;
}

div.asset:hover {
    border: 1px solid #777;
}

div.asset img {
    width: 180;
    height: 180;
}

div.desc {
    padding: 15px;
    text-align: center;
}